/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .user-container {
   display : felx;
   flex-direction: column;
 }
 
 .user-info {
    display :flex ;
    flex-direction: row;
    margin-bottom: 30px;
 }

 .user-photo {
    width: 18%;
 }

 .user-name {
    margin-left: 10px;
    margin-right:210px;
 }

 .bio {
    border: 1px solid black;
    width:50%;
 }

 .post-card {
    display: felx;
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 30px;
    width:50%;
 }

 .likes-comments {
    display : flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    margin-left: 18px;
 }

 .comments_user {
   border: 1px solid black;
   width:50%;
   margin-bottom: 10px;
 }
 